My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "6c6b9f7a-11d0-44fe-9a55-b346716c48a5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1SIywl3OqwPdbn9dcgrMgEeuBY7zZAujqPjJMli9YkuM",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SIywl3OqwPdbn9dcgrMgEeuBY7zZAujqPjJMli9YkuM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SIywl3OqwPdbn9dcgrMgEeuBY7zZAujqPjJMli9YkuM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "2ec19af5-a9d7-42cc-84ae-b5733672319c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2dCos2eSFK64GWoY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const gunler = [\"Pazar\", \"Pazartesi\", \"Salı\", \"Çarşamba\", \"Perşembe\", \"Cuma\", \"Cumartesi\"];\nconst bugun = gunler[new Date().getDay()]; \n\n// Bugünün derslerini bul\nconst bugununDersleri = items.filter(item => {\n  return item.json.Gun && item.json.Gun.toString().trim() === bugun;\n});\n\n// Eğer ders varsa dersi gönder, yoksa \"Ders Yok\" bilgisini gönder\nif (bugununDersleri.length > 0) {\n  return bugununDersleri;\n} else {\n  return [{\n    json: {\n      Gun: bugun,\n      Dersler: \"Bugün planlı bir dersin görünmüyor kral\",\n      Saat: \"-\"\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "d2648c76-5c8f-4385-bc91-6772cb338b9d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "cihanemrbkts@gmail.com",
        "subject": "Bugunku Dersler",
        "message": "=Sayın Kullanıcı,\n\n29.03.2026 tarihli günlük ders programı raporunuz aşağıdadır:\n\nGün: {{ $json.Gun }}\nDers Bilgisi: {{ $json.Dersler }}\nBaşlangıç Saati: {{ $json.Saat }}\n\nSistem tarafından otomatik olarak oluşturulmuştur. İyi çalışmalar dileriz.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        576,
        16
      ],
      "id": "976b31d4-07cc-402a-b2af-1826885c84f6",
      "name": "Send a message",
      "webhookId": "f164a340-dadd-4e90-98d5-a08dd17f78bf",
      "credentials": {
        "gmailOAuth2": {
          "id": "NrO7JsWh2l0CCAjS",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b739ef08-9e65-4504-8256-182ca6334c20",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "591051b2a9305c7f7ae94acf1227557eee4db30e4b22601f23b83f86a3fcadfa"
  },
  "id": "c3EHZnTgaiqqcsx8",
  "tags": []
}